<ion-header [translucent]="true"> </ion-header>

<ion-content class="principal" [fullscreen]="true">
  <div class="sign-up-content">
    <h2>Crea tu cuenta en <strong>EgmaTeams</strong></h2>
    <p>Crea tu cuenta para continuar</p>
    <form>
      <ion-item>
        <ion-input
          label="Nombre"
          label-placement="floating"
          fill="outline"
          placeholder="Introduce tu nombre"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Apellidos"
          label-placement="floating"
          fill="outline"
          placeholder="Introduce tus apelliudos"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Email"
          label-placement="floating"
          fill="outline"
          placeholder="Introduce tu email"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Contraseña"
          label-placement="floating"
          fill="outline"
          placeholder="Introduce tu contraseña"
        ></ion-input>
      </ion-item>
      <ion-button>Crear cuenta</ion-button>
      <p>¿Ya tienes cuenta? <strong>Inicia sesión</strong></p>
    </form>
  </div>
</ion-content>
